# ==========================
# 🐍 ENTORNOS VIRTUALES
# ==========================
env/
venv/

# ==========================
# 🐍 ARCHIVOS PYTHON
# ==========================
__pycache__/
*.py[cod]
*.so

# ==========================
# 📦 MIGRACIONES COMPILADAS
# ==========================
**/migrations/*.pyc
**/migrations/__pycache__/

# ==========================
# 🛠 TEMPORALES / SISTEMA
# ==========================
*.log
*.swp
*.tmp
.DS_Store
Thumbs.db

# ==========================
# ⚙️ CONFIGS DE EDITORES
# ==========================
.vscode/
.idea/

# ==========================
# 🗃️ ARCHIVOS DE BASE DE DATOS
# ==========================
db.sqlite3
*.sqlite3

# ==========================
# 🖼️ ARCHIVOS MEDIA/STATIC
# ==========================
staticfiles/
media/

# ==========================
# 💻 FRONTEND COMPILADO
# ==========================
node_modules/
dist/
build/

# ==========================
# 🔒 VARIABLES DE ENTORNO
# ==========================
.env
*.env

# ==========================
# 🧪 TEST / COBERTURA
# ==========================
htmlcov/
.coverage
.coverage.*

# ==========================
# 💾 CACHÉ Y OTROS
# ==========================
*.bak
*.cache
*.tgz
*.gz
*.zip

# ==========================
# 📦 ARCHIVOS DE BACKUP PERSONAL
# ==========================
backup_requirements.txt
