# Entornos virtuales
env/
venv/

# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.so

# Archivos de migraciones compiladas
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos temporales y de sistema
*.log
*.swp
*.tmp
.DS_Store
Thumbs.db

# Configuraciones de editores
.vscode/
.idea/

# Archivos estáticos y de medios (generados en producción)
staticfiles/
media/

# Archivos compilados de frontend
node_modules/
dist/
build/

# Variables de entorno y configuraciones sensibles
.env
*.env

# Archivos de cobertura de tests
htmlcov/
.coverage
.coverage.*

# Archivos de caché
*.bak
*.cache
*.tgz
*.gz
*.zip
